@font-face {
    font-family: 'Larsseit';
    src:font-url('larsseit-bold.woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Circularpro';
    src:font-url('circular-pro-book.woff2');
}

@font-face {
    font-family: 'Circularpro-bold';
    src:font-url('circular-pro-bold.woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Lato';
    src:font-url('lato-bold-4b1dc11.woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Lato-norm';
    src:font-url('lato-regular-d9ce515.woff2');
}

@font-face {
    font-family: 'Lato-bolder';
    src:font-url('lato-black-b64f5e4.woff2');
    font-weight: bolder;
}

@font-face {
    font-family: 'Slack-icons';
    src:font-url('slack-icons-v2-3c7c6e4.woff2');
}