* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lato';
    src:font-url('lato-bold-4b1dc11.woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'Lato-norm';
    src:font-url('lato-regular-d9ce515.woff2');
}

@font-face {
    font-family: 'Lato-bolder';
    src:font-url('lato-black-b64f5e4.woff2');
    font-weight: bolder;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    font-family: 'Lato', 'Lucida Grande', sans-serif;
}

.formpage {
    font-family: 'Lato-norm', 'Lucida Grande', sans-serif;
    background-color: #f9f9f9;
    transform: translateX(0);
    width: 100%;
    transition: transform .15s cubic-bezier(.2,.3,.25,.9);
}

.span-2-3 {
    width: 66.13%;
}

.top-persistent {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1)
}

.top-persistent ul a {
    text-decoration: none;
    color: #616061;
    border-radius: 0.25rem;
}

.top-persistent ul a:hover {
    filter: contrast(6.26);
}

.page-contents a {
    color: #1264a3;
    text-decoration: none;
}

.page-contents a:hover {
    text-decoration: underline;
}

.signin-form {
    font-family: 'Lato-norm', 'Lucida Grande', sans-serif;
    margin: auto;
}

.signin-btn {
    box-shadow: inset 0 0 0 2px #616061;
    padding: 10px 14px 12px 14px;
}

.form-btn {
    line-height: 1rem;
    padding: 14px 32px 16px;
    font-size: 20px;
    background: #007a5a;
    color: #fff;
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
    text-shadow: none;
    border: none;
    border-radius: .25rem;
    box-shadow: none;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    white-space: nowrap;
    margin: 0;
    font-family: inherit;
    width: 100%;
}

.form-btn:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: .25rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 1rem;
}

.page-contents {
    color: #1d1c1d !important;
    margin: 0 auto;
    font-family: sans-serif;
}

@media only screen and (min-width: 1024px) {
    .page-contents {
        width: 1024px;
    }
}

.col {
    display: block;
    margin: 0 0 2%;
}

@media only screen and (max-height: 840px), screen and (max-width: 640px) {
    .page-contents {
        padding: 3rem 2rem 6rem 2rem;
    }
}

.page-contents h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -1px;
    font-weight: 700;
    margin: 0 0 1rem;
    margin-bottom: 0.1rem;
}

.med-bottom-margin {
    font-family: 'Lato-norm', 'Lucida Grande', sans-serif;
    margin-bottom: 1.5rem;
}

.formlogo {
    background-position: left bottom;
    background: url("https://a.slack-edge.com/4f28/img/slack_logo.svg") left top no-repeat;
    background-size: contain;
    height: 30px;
    width: 106px;
    float: left;
    margin: 1.25rem;
}

.formlogo img {
    width: 120px;
}

.form-navlist {
    display: flex;
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.28571429;
    padding: 16px;
    font-family: 'Lato-norm', 'Lucida Grande', sans-serif;
}

.no-bottom-margin {
    margin: 0;
}

.content-card {
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    padding: 2rem 1rem 2rem 2rem;
    margin: 0 auto 2rem;
    position: relative;
    border: 1px solid #ddd;
    text-align: center;
}

.session-input {
    font-size: 1.25rem;
    line-height: normal;
    padding: .75rem;
    border: 1px solid #868686;
    border-radius: .25rem;
    outline: 0;
    color: #1d1c1d;
    width: 100%;
    max-width: 100%;
    margin: 0 0 .5rem;
    transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    box-shadow: none;
    height: auto;
    font-family: inherit;
}

.bottom-content {
    text-align: center;
}

.alert-error {
    padding: .75rem 1rem .75rem 3rem;
    border-left-color: #e01e5a !important;
    border: 1px solid #ddd;
    background: #fff;
    color: #1d1c1d;
    border-left-width: 5px;
    margin: 0 auto 1rem;
    border-radius: .25rem;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}