@font-face {
    font-family: 'Slack-icons';
    src:font-url('slack-icons-v2-3c7c6e4.woff2');
}

.workspace {
    background-color: #1a1d21;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Lato-norm';
    line-height: 1.46668;
    font-weight: 400;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    overflow: hidden;
}

.client-grids {
    display: grid;
    grid-template-columns: 220px auto;
    grid-template-areas:
        "workspace-banner workspace-banner"
        "workspace-top-nav workspace-top-nav"
        "workspace-sidebar workspace-primary";
    grid-template-rows: min-content 60px auto;
}

.workspace-banner {
    grid-area: workspace-banner;
}

.workspace-top-nav {
    grid-area: workspace-top-nav;
    min-width: 0;
}

.client-grids .workspace-sidebar:after {
    left: auto;
    right: 0;
}

.workspace-sidebar:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    pointer-events: none;
    background: #2c2d30;
}

.flex-top-nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.nav-team-header {
    background: #19171D;
    border-right: 1px solid #393c46;
    color: #ffffff;
    flex-shrink: 0;
    width: 220px;
    height: 60px;
    padding: 8px 16px;
}

.header-content {
    cursor: pointer;
}

.nav-team-name {
    display: flex;
    flex-direction: column;
}

.team-header-section {
    display: flex;
    align-items: center;
}

.team-name {
    font-family: 'Lato';
    font-size: 18px;
    line-height: 1.33334;
    font-weight: 900;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nav-user-header {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.presence-icon {
    width: 8px;
    margin-left: -5px;
    margin-top: -2px;
}

.small-icons {
    height: auto;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

.presence-icon::before {
    content: "\E507";
    font-family: 'Slack-icons' !important;
    color: rgb(198,199,200);
}

.small-icons::before {
    height: auto;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

.all-icons::before {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.small-icons::after {
    content: "\200B";
}

.all-icons {
    position: relative;
    display: inline-flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.nav-username {
    flex: 0 1 auto;
    min-width: 0;
    display: flex;
    opacity: .7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-username:hover {
    opacity: 1;
}

.nav-channel-header {
    border-bottom: 1px solid #393c46;
    flex: 1;
    height: 60px;
    padding: 8px 8px 8px 20px;
    display: flex;
    min-width: 0;
    position: relative;
}

.channel-title-header {
    flex: 1;
    min-width: 0;
}

.nav-title {
    font-family: 'Lato';
    font-size: 18px;
    line-height: 1.33334;
    font-weight: 900;
    display: inline-flex;
    max-width: 100%;
    align-items: baseline;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #d1d2d3;
}

.nav-title-info {
    display: flex;
    align-items: baseline;
    font-size: 13px;
    line-height: 1.38463;
    font-weight: 400;
    user-select: none;
    color: rgba(var(--sk_foreground_max,29,28,29),.7);
    margin-top: 1px;
}

.channel-members-info {
    display: flex;
    align-items: baseline;
    background: none;
    border: 0;
    color: #c6c7c8;
    font: inherit;
    margin: 0;
    line-height: inherit;
    overflow: initial;
    padding: 0;
    text-align: initial;
    vertical-align: initial;
    cursor: pointer;
}

.user-icon {
    width: 1em;
    height: auto;
}

.user-icon:before {
    content: "\E003";
    display: inline-block;
    font-family: 'Slack-icons';
    font-weight: 400;
    font-size: inherit;
    position: absolute;
    line-height: 1;
    top: 50%;
    left: 50%;
    margin-top: -.5em;
    margin-left: -.5em;
    width: 1em;
    height: 1em;
}

.user-icon:after {
    content: "\200B";
}

.workspace-sidebar {
    display: grid;
    grid-template-areas: "workspace-sidebar";
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.channel-sidebar {
    border-right: 1px solid #393c46;
    color: #e8e8e8;
    width: 220px;
    flex: 1;
    height: 100%;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: #19171D;
}

.side-toolbar {
    width: 196px;
    margin: 4px 0 8px 12px;
    display: inline-flex;
}

.side-toolbar-btn {
    color: #a3a3a6;
    width: 196px;
    top: 0;
    margin: 0;
    padding: 2px 8px 3px 8px;
    background: rgba(255,255,255,0.15);
    border-radius: 4px;
    border: 0;
    line-height: inherit;
    font: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    position: relative;
    opacity: 1;
    transition: color .1s ease-out;
    cursor: pointer;
}

.team-header-icon {
    display: inline-flex;
    margin-right: 8px;
    background-color: #1a1d21;
    border: none;
}

.down-icon {
    opacity: .6;
    color: #f9f9f9;
    cursor: pointer;
}

.down-icon::before {
    content: "\E252";
    font-family: 'Slack-icons';
}

.channel-sidebar-list {
    flex: 1;
    position: relative;
}

.ws-scrollbar {
    width: 220px;
    height: 358px;
    overflow: hidden;
    position: relative;
}

.scrollbar-hider {
    overflow-y: scroll;
    overflow-x: hidden;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    right: -50px;
    bottom: 0;
    height: 100%;
    transform: translateZ(0);
}

.channels-list {
    outline: none;
}

.sidebar-section-heading {
    padding: 0 12px 0 15px;
    margin: 0;
    width: 100%;
    height: 26px;
    display: flex;
    align-items: center;
}

.channel-section-heading {
    color: #c6c7c8 !important;
    font-weight: 700 !important;
    line-height: 1;
    display: block;
    text-align: left;
    width: 100%;
    transition: color .1s ease-out;
    background: none;
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.channel-section-heading:hover {
    color: #f9f9f9 !important;
}

.section-heading-right {
    margin-left: auto;
}

.add-channel-btn {
    margin-left: 8px;
    line-height: 1;
    color: #a0a0a2;
    background: none;
    border: 0;
    cursor: pointer;
}

.add-channel-btn:hover {
    color: #ffcc00;
}

.add-channel-btn::before {
    font-family: 'Slack-icons';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    flex-shrink: 0;
    opacity: .64;
    line-height: 1;
    content: "\E228";
    transition: opacity .1s ease-out;
}

.channel-name {
    color: #c6c7c8;
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: 26px;
    padding: 0 12px 0 15px;
    width: 100%;
    margin-right: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    opacity: 1;
}

.active-false:hover {
    background-color: black;
}

.workspace-primary {
    display: grid;
    grid-area: workspace-primary;
    grid-template-columns: auto;
    grid-template-areas: "primary-contents";
    grid-template-rows: auto;
}

.primary-contents {
    display: flex;
    flex-direction: column;
    grid-area: primary-contents;
    min-width: 0;
    min-height: 0;
    position: relative;
}

.primary-body {
    flex: 1;
    min-height: 0;
    position: relative;
}

.msg-pane {
    height: auto;
    top: 0px;
    bottom: 0;
    padding-left: 0;
    width: 100%;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
}

.primary-footer {
    display: flex;
    padding: 0 20px 24px 20px;
}

.msg-input {
    flex: 1 1 auto;
    position: relative;
    border: 1px solid #565856;
    border-radius: 4px;
    border-width: 1px;
    min-height: 42px;
    padding-top: 0;
    padding-bottom: 4px;
    padding-right: 0;
    font-family: 'Lato-norm';
    font-size: 15px;
    color: #d1d2d3;
}

.txt-editor {
    font: inherit;
    color: inherit;
    border: none;
    width: calc(100% - 67px);
    padding-left: 32px;
    padding-right: 67px;
    margin-top: 4px;
    min-height: 22px;
    line-height: 1.46668;
    max-height: calc(60vh - 80px);
    height: auto;
    overflow: auto;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    cursor: text;
    outline: none;
    background: rgba(0, 0, 0, 0);
}

.preview-footer {
    padding: 24px 30px;
    background-color: #222529;
    text-align: center;
}

.preview-subtitle {
    font-size: 18px;
    line-height: 1.33334;
    font-weight: 900;
    font-weight: 400;
    color: #d1d2d3;
    white-space: pre;
    text-align: center;
}

.preview-msg {
    color: rgba(232, 232, 232, 0.7);
    margin-bottom: 24px;
    text-align: center;
}

.preview-btn {
    display: inline-flex;
    font-family: inherit;
    font-size: 15px;
    height: 36px;
    min-width: 80px;
    padding: 0 12px 1px;
    background: #007a5a;
    color: #fff;
    font-weight: 900;
    box-shadow: none;
    text-decoration: none;
    user-select: none;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    align-items: center;
    position: relative;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}

.msg-input:hover {
    border: 1px solid #a0a0a2;
}

.msg-list-container {
    position: absolute;
    width: 100%;
}

.msg-list-item {
    font-family: 'Lato-norm';
    color: #e8e8e8;
    line-height: 16px;
    padding: 6px 0;
    font-size: 15px;
    position: relative;
}

.last-msg {
    margin-bottom: 16px;
}

.msg-avatar {
    width: 64px;
    padding-right: 8px;
    float: left;
    text-align: right;
}

.msg-avatar-btn {
    height: 36px;
    line-height: 36px;
    width: 36px;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    outline: none;
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
}

.avatar-img {
    border-radius: 3px;
    display: block;
    height: 100%!important;
    width: 100%!important;
}

.msg-contents {
    margin-top: -9px;
    margin-left: 64px;
    margin-right: 20px;
}

.msg-list-item:hover {
    background-color: #2c2d30;
}

.sender-header {
    margin: 9px 0 -5px;
    line-height: 1;
}

.msg-sender {
    font-family: 'Lato';
    font-weight: 900;
    word-break: break-word;
}

.msg-body {
    color: #d1d2d3 !important;
    line-height: 1.46668;
    margin: 8px 0 -4px;
    text-align: left;
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
}

.msg-actions {
    transition: unset;
    transition-property: unset;
    display: none;
    overflow: hidden;
    padding: 2px;
    position: absolute;
    right: 17px;
    top: 0px;
}

.msg-actions:hover {
    border: 1px solid #393c46;
    --saf-0: rgba(var(--sk_foreground_low,29,28,29),0.13);
    box-shadow: 0 0 0 1px var(--saf-0),0 1px 3px 0 rgba(0,0,0,.08);
    background-color: #1a1d21;
    border-radius: 6px;
}

.msg-list-item:hover .msg-actions {
    display: block;
}

.msg-actions-btn {
    border: unset;
    border-radius: 4px;
    color: rgb(198,199,200);
    height: 32px;
    width: 32px;
    cursor: pointer;
    background: none;
}

.ellipsis:before {
    content: "\E148";
    display: inline-block;
    font-family: 'Slack-icons';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.active-true {
    background: #0576B9;
    color: #FFFFFF;
}

.msg-forward {
    margin: 48px 32px 16px 16px;
    font-family: 'Lato-norm';
    font-size: 15px;
    line-height: 1.46668;
    font-weight: 400;
    width: 100%;
    --saf-0: rgba(var(--sk_foreground_low_solid,221,221,221),1);
}

.forward-channel-name {
    color: #d1d2d3;
    margin-bottom: 8px;
    font-size: 28px;
    line-height: 1.2143;
}

.forward-description {
    color: #d1d2d3;
    font-size: 1.1rem;
    line-height: 1.5;
}

.timestamp {
    font-size: 12px;
    color: #ABABAD;
}

.day-divider {
    left: 0;
    right: 0;
    border-top: 1px solid rgba(var(--sk_foreground_low_solid,221,221,221),1);
    border-bottom: 0;
    margin: 0 0 -1px 0;
    top: -1px;
    position: relative;
}