a {
    color: #1D9BD1;
}

.workspace {
    background-color: #1a1d21;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Lato-norm';
    line-height: 1.46668;
    font-weight: 400;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    overflow: hidden;
}

.workspace-sidebar {
    display: grid;
    grid-template-areas: "workspace-sidebar";
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.client-grids {
    display: grid;
    grid-template-columns: 220px auto;
    grid-template-areas:
        "workspace-banner workspace-banner"
        "workspace-top-nav workspace-top-nav"
        "workspace-sidebar workspace-primary";
    grid-template-rows: min-content 60px auto;
}

.workspace-banner {
    grid-area: workspace-banner;
}

.workspace-top-nav {
    grid-area: workspace-top-nav;
    min-width: 0;
}

.client-grids .workspace-sidebar:after {
    left: auto;
    right: 0;
}

.workspace-sidebar:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    pointer-events: none;
    background: #2c2d30;
}

.side-toolbar {
    width: 196px;
    margin: 4px 0 8px 12px;
    display: inline-flex;
}


.workspace-primary {
    display: grid;
    grid-area: workspace-primary;
    grid-template-columns: auto;
    grid-template-areas: "primary-contents";
    grid-template-rows: auto;
}

.primary-contents {
    display: flex;
    flex-direction: column;
    grid-area: primary-contents;
    min-width: 0;
    min-height: 0;
    position: relative;
}

.primary-body {
    flex: 1;
    min-height: 0;
    position: relative;
}

.preview-subtitle {
    font-size: 18px;
    line-height: 1.33334;
    font-weight: 900;
    font-weight: 400;
    color: #d1d2d3;
    white-space: pre;
    text-align: center;
}

.preview-msg {
    color: rgba(232, 232, 232, 0.7);
    margin-bottom: 24px;
    text-align: center;
}

.ellipsis:before {
    content: "\E148";
    display: inline-block;
    font-family: 'Slack-icons';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}